*.la
*.lo
*.log
*.memlog
*.o
*.swp
*.tar.xz
*.trs
.deps/
.dirstamp
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
libtool
m4/
miracle-dhcp
miracle-sinkctl
miracle-wifictl
miracle-wifid
miracle-uibcctl
miraclectl
miracled
stamp-h1
test-suite.log
test_rtsp
test_valgrind
test_wpas
wpa_cli
wpa_supplicant
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
libmiracle-shared.a
install_manifest.txt
.miracle-sink.history
/tags
/build/
