*.la
*.lo
*.log
*.o
*.swp
*.tar.xz
*.trs
.deps/
.dirstamp
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
libtool
m4/
miracle-dhcp
miraclectl
miracled
stamp-h1
test-suite.log
