[Unit]
Description=wpa_supplicant with Miracast support
Before=network.target
After=dbus.socket

[Service]
Type=simple

ExecStartPre=-/usr/bin/systemctl stop ap.service
ExecStartPre=-/usr/bin/systemctl stop NetworkManager.service
ExecStartPre=-/usr/bin/systemctl stop wpa_supplicant.service

ExecStart=/usr/bin/miracle-wifid --log-level debug

ExecStopPost=-/usr/bin/systemctl stop miracle-sink.service
ExecStopPost=-/usr/bin/systemctl start wpa_supplicant.service
ExecStopPost=-/usr/bin/systemctl start NetworkManager.service
ExecStopPost=-/usr/bin/systemctl start ap.service

User=root

[Install]
WantedBy=multi-user.target
Alias=miracle-wifid.service
