[Unit]
Description=Miraclecast sink on default link
Before=network.target
Requires=miracle-wifid.service

[Service]
Type=simple
ExecStart=/usr/bin/miracle-sinkctl -- set-friendly-name VingMiracle
Restart=always
User=root

[Install]
WantedBy=multi-user.target
Alias=miracle-sink.service