[Unit]
Description=Miraclecast sink on default link
Before=network.target
Requires=miracle-wifid.service

[Service]
Type=simple
ExecStart=/usr/bin/miracle-sinkctl --log-level debug --log-journal-level debug -- set-friendly-name VingMiracle
ExecStopPost=-/usr/bin/systemctl stop miracle-wifid.service
Restart=always
User=root

[Install]
WantedBy=multi-user.target
Alias=miracle-sink.service